<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>919192019228-2ad7v28saq8sic0d0opi432isbe90f1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919192019228-2ad7v28saq8sic0d0opi432isbe90f1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCc2dDrSTJ9XksQ6K_zOGAuyBIEq289YhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>919192019228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NorahSay.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-14a87</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-14a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919192019228:ios:5e89eb46ef63d193</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-14a87.firebaseio.com</string>
</dict>
</plist>